*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.card__padrao{
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #0000000f;
}

.gradiente{
    background-image: linear-gradient(to right, var(--gradiente));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.titulo__secao{
    font-family: var(--fonte);
    font-weight: 100;
    font-size: 32px;
    margin-left: 4em;
    margin-top: 1em;
}

.card__categoria{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 8px;
}

.card__titulo{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.card__preco{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 16px;
}

.botao__curtida{
    display: flex;
    justify-content: center;
    

    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.botao__curtida__coracao{
    width: 55%;
}

.titulo__secao__reajuste{
    margin-left: 2em;
    margin-bottom: 2em;
}

.form__input{

    height: 50px;
    border-radius: 8px;
    border: 1px solid var(--cinza-escuro-3);
    padding-left: 16px;
}




.form__input__correct{
    border: 1.5px solid var(--verde-sistema);
}
.form__input__incorrect{
    border: 1.5px solid var(--vermelho-sistema);
}

.botao__input__radio input[type="radio"]{
    all: unset;
    background-color: white;
    border: 1px solid var(--cinza-escuro);
    border-radius: 50%;

    width: 13px;
    height: 13px;
    margin-top: 1px;
    cursor: pointer;
    margin-right: 8px;
}

.botao__input__radio input[type="radio"]:checked{
    background-image: url('/assets/img/coracao--on.svg');
    background-repeat: no-repeat;
    background-size: 13px;
    border: 1px solid transparent;
}

.botao__padrao{
    width: 90px;
    height: 45px;
    margin-left: 16px;
    margin-right: 32px;
    border: none;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.botao__selecionado{

    background-color: var(--cinza-escuro);
    color: var(--branco);
    border: none;
    width: 110px;
    height: 55px;
    font-size: 18px;
    font-weight: 800;
}

.botao__submit {
    background-color: var(--azul-2);
    color: var(--branco);
}

.botao__submit:hover{
    background-color: var(--verde-sistema);
}
.botao__submit:active{
    height: 44px;
    width: 89px;
}