.container__cadastro{
    display: grid;
    grid-template-rows: 24vh auto auto;

    font-family: var(--fonte);
    color: var(--texto);

}
.cadastro__container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 128px;
    
}
.form{
    
    max-width: 500px;
    width: 90%;

}

.form__fieldset{
    display: grid;
    gap: 24px;

}

.form__fieldset label{
    margin-top: 16px;
}

.form__fieldset label:last-child{
    margin-top: 0;
}

fieldset legend{
    margin-bottom: 16px;
}



.form__fieldset input::placeholder{
    color: var(--cinza-escuro-3);
    position: fixed;
    top: 35%;
}
.form__fieldset input[type="password"]::placeholder{
    top: 45%;
}





.botoes__cadastro{
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--cinza-escuro);
    
    
    
}

.botao__input__radio{
    display: flex;
    padding: 16px;
}


.recuperar__senha{
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    margin-top: -64px;

    font-size: 14px;
    font-weight: 200;
    text-decoration: overline 1px var(--cinza-escuro);
}

.recuperar__senha:hover{
    color: var(--azul-2);
}

.botao__logar{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

