
.cards__favoritos{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(5, 1fr);
    width: 100vw;
    gap: 16px;

    

}


.cards__favoritos__destaque:nth-child(2){
    grid-column: -1;

}
.cards__favoritos__destaque:nth-child(3){
    grid-column: -2;
}
.cards__favoritos__destaque:nth-child(4){
    grid-column: -3;
}
.cards__favoritos__destaque:nth-child(5){
    grid-column: -4;
}

.cards__favoritos__titulo{
    margin-left: 2em;
}


.cards__favoritos__destaque {
    height: 185px;
    width: 245px;

    gap: 16px;
    margin-top: 6em;
}

.cards__favoritos__foto{
    height: 100%;
    margin-top: -12px;
}




.cards__favoritos__botao--fundo{
    margin: -8px;
    background-color: var(--cinza-escuro-2);
}

