.cards__produtos__carrinho{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4em;

    margin-left: 16px;
    margin-bottom: 8px;
    

    gap: 16px;
}

.card__produto__carrinho{
    max-width: 300px;
    min-width: 250px;

    height: 128px;

    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    
    background-color: var(--cinza-claro-2);

    gap: 8px;
}
.card__produto__carrinho__imagem img{
    width: 96%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;

}
.titulo__secao__carrinho{
    margin-left: 3em;
    margin-bottom: 2e
    
}

.card__produto__texto__carrinho{
    align-self: center;
}
.card__produto__texto__carrinho h2{
    font-size: 16px;
    font-weight: 600;
}
.card__produto__texto__carrinho h4{
    font-size: 14px;
}


.quantidade__produto__carrinho{
    font-family: var(--fonte);
    font-size: 13px;

    border-left: 1px solid var(--cinza-escuro);
    align-self: center;
    padding: 32px 0;
    padding-left: 32px ;


}